@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["ActivePage"] = "Privacy"; // Add this line to set the active page
}
<h1>@ViewData["Title"]</h1>

<p>No tatschi tatschi! Only luki luki...</p>
