html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: 'Great Vibes';
    src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.button-clicked {
    background-color: #A3C4A7;
    color: white;
    border-radius: 5px;
}

.button-unclicked {
    background-color: #f8f9fa;
    color: black;
    border-radius: 5px;
}

.button-unclicked:hover {
    background-color: #e9ecef;
    color: #A3C4A7;
    cursor: pointer;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/backGroundPicture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    flex: 1;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content {
    margin-bottom: 1rem;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
}

.navbar .navbar-nav .active > .nav-link {
    background-color: #A3C4A7;
    color: #fff;
}
